
<div> @ViewBag.asd </div>
<div class="cardview">
    @using (Html.BeginForm("Login", "Index", FormMethod.Post))
    {
        <div>
            login
            <br>
            Id: <input type="text" name="FirstName"><br>
            Pw: <input type="password" name="pw"><br>
        </div>
        <input type="submit" value="Login">
    }
    <div> @ViewBag.testlogin </div>
    <a href="http://localhost:55400/Index/Resgister">Resgister</a>
    <a href="http://localhost:55400/Index/redit">Rwpas</a>
</div>  