
@using (Html.BeginForm("redit", "Index", FormMethod.Post))
{
<div>
    EditPw<br>
    Id: <input type="text" name="user"><br>
    Pw: <input type="password" name="re_pw"><br>
</div>
    <input type="submit" value="Repw">
}
@ViewBag.regis