@{
    @model List<Order_Food.Models.Add_Store>

    if (Session["checkstatus"] == null)
    {
        <p>เอะมีปัญหา</p>
    }
    else
    {
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <img src="~/img/user_img/@ViewBag.folder/@item.pic" style="height: 120px;">
                <p><@item.description</p>
            }
        }
        else
        {
            <p>ไม่มึรูป</p>
        }
    }
}