@ViewBag.get_name
<div class="">
    <div>
        รูปร้าน
    </div>
    <div>
        ชื่อร้าน
    </div>
    <div>
        ข้อมูล - เวลาเปิดปิด
    </div>

    <div>
        รูป โชวต่างๆ
    </div>
    <div>
        สถานที่
    </div>
</div>
@*coment-section*@
<table style="width:100%;">
    <tr>
        <td>
            หน้า user ฝั่งคนอื่น
        </td>
        <td>
            coment section
        </td>
        <td>
            หน้า user ฝั่งตัวเอง
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <textarea rows="1"></textarea>
        </td>
        <td>
            ปุ่มตกลง
        </td>
    </tr>
</table>