@{
    Layout = null;
}
@model List<Order_Food.Models.Add_Store>
@if (Session["checkstatus"] == null)
{
    <p>เอะมีปัญหา</p>
}
else
{
    if (Model != null)
    {
        <div class="row">

            @foreach (var item in Model)
            {

                <div class="col-md-3" style="padding:0px;">
                    <div class="img_loopshow sh_border">
                        <img src="~/img/user_img/@ViewBag.folder/@item.pic">
                    </div>
                    <div style="text-align:center;padding-top:5px;">
                        @item.description
                    </div>
                </div>

            }
        </div>
    }
    else
    {
        <p>ไม่มึรูป</p>
    }
}

