<h2>User</h2>
<div style="height:45px;padding:8px;">
    <h4>ร้านค้าที่ใกล้เคียง</h4>
</div>
<div style="padding-top:15px;">

    <div class="row">
        <div class="col-md-3 icom_menu">
            <div>
                ใส่รูป
            </div>
            <div>
                ใส่ชื่อร้าน
            </div>
            <div>
                ข้อความใต่รูป
            </div>
        </div>
        <div class="col-md-3 icom_menu">
            <div>
                ใส่รูป
            </div>
            <div>
                ใส่ชื่อร้าน
            </div>
            <div>
                ข้อความใต่รูป
            </div>
        </div>
        <div class="col-md-3 icom_menu">
            <div>
                ใส่รูป
            </div>
            <div>
                ใส่ชื่อร้าน
            </div>
            <div>
                ข้อความใต่รูป
            </div>
        </div>
        <div class="col-md-3 icom_menu">
            <div>
                ใส่รูป
            </div>
            <div>
                ใส่ชื่อร้าน
            </div>
            <div>
                ข้อความใต่รูป
            </div>
        </div>

    </div>
    <div style="text-align:right;padding-top:5px;">
        <a href="">ข้อมูลเพิ่มเติม</a>
    </div>

</div>
